
.btn{
    padding: .5rem 2rem;
    border: 1px solid #b28451;
    background-color: #fff;
    color: #b28451;
    border-radius: .5rem;
    transition: all .5s;
    cursor: pointer;
    font-size: 1.7rem;
    &:hover{
        background-color: #b28451;
        color: #fff;
    }
}