.main{
    // min-height: max-content;
    padding: 2rem;
    height: 100%;
    // border: 1px solid red;
    z-index: 10;
    //  position: relative;
   height: auto;
    &-div{
        // position: relative;
        // border: 1px solid red;
        min-height: 80vh;
        max-height:auto;
    }
}