
.container{
    display: flex;
    height: auto;
//   border: 4px solid black;

    .sidebar,.all-users{
        flex: 1;
    //    min-height: 100%;
        // border: 1px solid rebeccapurple;
    }
    
    
    .main{
        flex: 4;
        // height: 100%;
        // height: max-content;
    }
}
