
.container{
    display: flex;
    min-width: 100vh;
    .dashboard,.all-users{
        flex: 1;
       min-height: 100%;
        border: 1px solid rebeccapurple;
    }
    
    .main{
        flex: 2;
        height: 100%;
    }
}
