
.sidebar{
    padding: 3rem 0;
    // background-color: #fce8c8;
    background-color: #8d69f1;
    .profile{
        // border: 1px solid red;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        &-img{
            width: 7rem;
            height: 7rem;
            //  border: 2px solid red;
            // border-radius: 50%;
            img{
                  width: 100%;
                  height: 100%;
                  border-radius: 50%;
                  object-fit: cover;
            }
        }
        .name{
            margin-top: 1rem;
            font-size: 1.5rem;
            color: #fff;
        }
    }
    .line{
        width: 100%;
        height: 1px ;
        background-color: #ccc7c7;
        margin: 5rem 0rem;
    }
    .nav{
        // border: 1px solid #fee;
        position: relative;
        &>*{
            margin: 4rem 0;
            // border: 1px solid red;
        //    margin-left:35%;
        }
        
        a{
            width: 100%;
            height: 100%;
            // border: 1px solid rgb(237, 9, 25);
            padding-left: 10rem;
            .nav-dashboard,.nav-create{
                width: 95%;
                padding:1rem 2rem;
                font-size: 1.7rem;
                border-radius: 3rem;
                margin-right: 1rem;
                color: #fff;
                margin-left:20%;
                transition: background-color .5s , color .5s;
                // text-align: center;
                // border: 1px solid red;
                svg{
                    margin-right: 1rem;
                    fill: currentColor;
                }
                // &:hover{
                //     background-color: #fff;
                //     color: #8d69f1;
                // }
            }
        }
        a.active>*{
            background-color: #fff;
            color: #8d69f1;
        }
            
       
    }
}